h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 1px;
}

nav {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.instructie {
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    margin-top: 15px;
    margin-left: 180px;
}

button {
    margin-bottom: auto;
}

.container {
    width: 540px;
    margin: auto;
}

.box-1 {
    background-color: black;
    color: #fff;
    border: 5px white solid;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 30px;
    margin: 50px 15px;
    margin-top: 250px;
}

.footer-copyright {
    color: #fff;
    font-size: smaller;
    margin-top: 230px;
    margin-left: 1170px;
}